.container {
  text-align: center;
  /* border:1px solid blue; */
  /* position: relative; */
}

.retailerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 80%; */
  /* margin: auto; */
}

.retName {
  /* border: 1px solid red; */
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  margin-top: 6vh;
  color: rgb(63, 56, 56);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.heading {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 60%;
  margin-top: 10vh;
  margin-bottom: 2vh;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(63, 56, 56);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  margin-top: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  width: 80%;
}
.arrow {
  color: rgb(63, 56, 56);
}
.sellBtn {
  width:70%;
  margin: auto;
  background-color: #cfd8dc;
}